---
interface Props {
  id: string;
  title: string;
  icon?: any;
}

const { id, title } = Astro.props;
---

<section id={id}>
  <div class="section-card">
    <h2 class="section-title">
      <slot name="icon" />
      {title}
      <span class="section-title__bar"></span>
    </h2>
    <slot />
  </div>
</section>
